
.journey-container {
  background: rgba(255, 255, 255, 0.15); 
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);  
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
}

.journey-container > h2 {
  color: white; 
  margin-bottom: 5px;
  font-size: 30px;
}

.journey-container > p{
    color: white;
    margin-bottom: 30px;
}

.journey-container > button {
  background: rgba(204, 244, 122, 0.8);
  border: none;
  padding: 0.5rem 1.2rem;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
  height: 50px;
  width: 12rem;
  font-size: 15px;
}

.journey-container > button:hover {
  background: rgba(204, 244, 122, 1);
}

.animate-slide-in {
  animation: slideIn 10s ease forwards;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(1000px);
  }
  to {
    opacity: 1;
    transform: translateY(5);
  }
}

